<div class="min-h-screen bg-white">
  <%= render "pages/home/navigation" %>
  <%= render "pages/home/hero" %>
  <%= render "pages/home/dashboard_preview" %>
  <%= render "pages/home/why_broken" %>
  <%= render "pages/home/pillars" %>
  <%= render "pages/home/features" %>
  <%= render "pages/home/sdks" %>
  <%= render "pages/home/pricing" %>
  <%= render "pages/home/comparison" %>
  <%= render "pages/home/cta" %>
  <%= render "pages/home/footer" %>
</div>
