<div class="code-tabs-wrapper not-prose my-6"
     data-controller="toggle"
     data-toggle-default-value="<%= default_lang %>"
     data-toggle-persist-value="mbuzz_docs_language">

  <%# Tab buttons %>
  <div class="code-tabs-nav">
    <% languages.each do |lang| %>
      <% example = examples[lang] %>
      <% label = example[:label] || lang.to_s.titleize %>
      <button
        type="button"
        data-toggle-target="trigger"
        data-action="click->toggle#select"
        data-value="<%= lang %>"
        class="code-tab">
        <%= label %>
      </button>
    <% end %>
  </div>

  <%# Tab panels %>
  <div class="code-tabs-content">
    <% languages.each do |lang| %>
      <% example = examples[lang] %>
      <% code = example[:code] %>
      <% syntax = example[:syntax] || lang.to_s %>

      <div data-toggle-target="content" data-value="<%= lang %>" class="code-panel">
        <div class="overflow-x-auto">
          <pre class="p-4 m-0"><code class="language-<%= syntax %> text-sm leading-relaxed"><%=
            lexer = Rouge::Lexer.find_fancy(syntax.to_s, code) || Rouge::Lexers::PlainText.new
            formatter = Rouge::Formatters::HTML.new
            formatter.format(lexer.lex(code)).html_safe
          %></code></pre>
        </div>
      </div>
    <% end %>
  </div>
</div>
