<!DOCTYPE html>
<html lang="en">
  <head>
    <% if @meta %>
      <%# Set content_for blocks to be used by _head.html.erb %>
      <% content_for :title, @meta[:title] %>
      <% content_for :meta_description, @meta[:description] %>
      <% content_for :canonical_url, article_url(@article.slug) %>
      <% content_for :og_title, @meta.dig(:og, :title) %>
      <% content_for :og_description, @meta.dig(:og, :description) %>
      <% content_for :og_image, @meta.dig(:og, :image) || "https://mbuzz.co/og-image.png" %>
      <% content_for :og_type, @meta.dig(:og, :type) %>

      <title><%= @meta[:title] %> | mbuzz</title>
    <% else %>
      <title>mbuzz Academy</title>
    <% end %>

    <%= render "layouts/head" %>

    <% if @meta %>
      <%# Article-specific meta tags (not in _head.html.erb) %>
      <meta property="article:published_time" content="<%= @meta.dig(:article, :published_time) %>">
      <meta property="article:modified_time" content="<%= @meta.dig(:article, :modified_time) %>">
      <meta property="article:author" content="<%= @meta.dig(:article, :author) %>">
      <meta property="article:section" content="<%= @meta.dig(:article, :section) %>">
    <% end %>

    <% if @article %>
      <script type="application/ld+json">
        <%= @article.schema_json_ld.to_json.html_safe %>
      </script>
      <% if @article.faq_schema_json_ld %>
        <script type="application/ld+json">
          <%= @article.faq_schema_json_ld.to_json.html_safe %>
        </script>
      <% end %>
    <% end %>
  </head>

  <body class="bg-white">
    <%= render "shared/gtm_loader" %>
    <%= render "layouts/nav" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
