<!DOCTYPE html>
<html lang="en">
  <head>
    <% if @meta %>
      <title><%= @meta[:title] %> | mbuzz</title>
      <meta name="description" content="<%= @meta[:description] %>">
      <link rel="canonical" href="<%= request.original_url %>">

      <meta property="og:type" content="<%= @meta.dig(:og, :type) %>">
      <meta property="og:title" content="<%= @meta.dig(:og, :title) %>">
      <meta property="og:description" content="<%= @meta.dig(:og, :description) %>">
      <% if @meta.dig(:og, :image) %>
        <meta property="og:image" content="<%= @meta.dig(:og, :image) %>">
      <% end %>
      <meta property="og:url" content="<%= request.original_url %>">
      <meta property="article:published_time" content="<%= @meta.dig(:article, :published_time) %>">
      <meta property="article:modified_time" content="<%= @meta.dig(:article, :modified_time) %>">
      <meta property="article:author" content="<%= @meta.dig(:article, :author) %>">
      <meta property="article:section" content="<%= @meta.dig(:article, :section) %>">

      <meta name="twitter:card" content="<%= @meta.dig(:twitter, :card) %>">
      <meta name="twitter:title" content="<%= @meta.dig(:twitter, :title) %>">
      <meta name="twitter:description" content="<%= @meta.dig(:twitter, :description) %>">
      <% if @meta.dig(:twitter, :image) %>
        <meta name="twitter:image" content="<%= @meta.dig(:twitter, :image) %>">
      <% end %>
    <% else %>
      <title>mbuzz Academy</title>
    <% end %>

    <%= render "layouts/head" %>

    <% if @article %>
      <script type="application/ld+json">
        <%= @article.schema_json_ld.to_json.html_safe %>
      </script>
      <% if @article.faq_schema_json_ld %>
        <script type="application/ld+json">
          <%= @article.faq_schema_json_ld.to_json.html_safe %>
        </script>
      <% end %>
    <% end %>
  </head>

  <body class="bg-white">
    <%= render "layouts/nav" %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
